body{
    background-image: url(/Youtube02/images/table.png);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Arial';
    text-align: center;
    font-weight: bold;
}
h1 {
    color: goldenrod;
    font-size: 50px;
}
p {
    font-size: 25px;
    color: rgb(0, 0, 0);
}
button{
    border: none;
    color: green;
    background-color: yellow;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    margin: auto;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
}
#message-el{
    font-style: italic;
}